.pageHeader {
  position: relative;
  padding: calc(var(--spacing-sitepadding-block)*1.6) var(--spacing-sitepadding-inline);
  background: var(--background-gradient-header);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.index {
    .title {
      font-size: var(--font-size-h2);
    }
    .lead {
      font-size: var(--font-size-body);
      max-width: 54em;
      line-height: 1.5;
    }
  }
}

.title {
  font-style: italic;
  font-weight: 400;
}

.friend {
  position: absolute;
  bottom: 0;
  right: var(--spacing-sitepadding-inline);
}

.smallBranch {
  position: absolute;
  top: -3px;
  left: 0;
}

.bigBranch {
  position: absolute;
  top: -3px;
  right: -140px;
  transform: scaleX(-1);
}

@media (max-width: 800px) {
  .smallBranch {
    display: none;
  }
  .bigBranch {
    transform: none;
    left: -140px;
  }
}